#ultima_fila {
	  background-color: #A2D9CE;
}

h7, .h7 {
  font-size: 1.60rem;
  font-family: Copperplate Gothic Light, sans-serif;
  font-weight: bold;
}


h8, .h8{
	font-size: 1.20rem;
	color: #A2D9CE;
}

#filtrado {
	border-style: ridge;
	border-width: 1px;
	border-color: #000000;
}

#contenedor_mapa{
	height: 300px;
	width: 1500px;
}

#campo{
	height: 100%;
	width: 100%;
}

hr, .hr {
	 width: 100%; 
	 border-top: 1px;
}

#navbar_1 {
	  background-color: #EAEDED  ;
}

#boton_home{
	background-color: #A2D9CE;
}


#boton_estilo{
	background-color: #A2D9CE;
}

h12, .h12 {
	color: #000000;
}