mixin outputCard(recorrido)
 .col-md-4
  .card(style='width: 18rem;')
    a(href="https://ciudadesturisticas.herokuapp.com/"+recorrido.nombre_url+"" target='_blank')
      img.card-img-top(src=recorrido.imagen)
    .card-body
      a(href="https://ciudadesturisticas.herokuapp.com/recorridos/"+recorrido.nombre_url+"" target='_blank')
        h5.card-title=recorrido.nombre
      p.card-text(align='justify')=recorrido.descripcion_breve
      a.btn.btn-secondary(href='#' onclick="cargarEnMapa('"+ recorrido.nombre +"')") Cargar en mapa

mixin pointCard(punto)
 .col-md-3
    .card(style='width: 18rem;' id=punto)
      img#imagen_punto1.card-img-top(src='..' alt='Card image cap' name="imagen_"+punto)
      .card-body
        h5#titulo_punto1.card-title(name="titulo_"+punto) 
        p#direccion_punto1.card-text(name="direccion_"+punto)
          | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.