mixin outputCard(recorrido)
 .col-md-4
  .card(style='width: 18rem;')
    a(href="https://ciudadesturisticas.herokuapp.com/"+recorrido.nombre_url+"" target='_blank')
      img.card-img-top(src=recorrido.puntos[0].imagen)
    .card-body
      a(href="https://ciudadesturisticas.herokuapp.com/"+recorrido.nombre_url+"" target='_blank')
        h5.card-title=recorrido.nombre
      p.card-text(align='justify')=recorrido.descripcion
      a.btn.btn-secondary(href='#' onclick="cargarEnMapa('"+ recorrido.nombre +"')") Cargar en mapa