extends layout

block content
 .text-center
  nav#navbar_1.navbar.navbar-expand-lg.navbar-light
    a.navbar-brand(href='#')
      img(src='https://png.icons8.com/metro/1600/worldwide-location.png' width='30' height='30' alt='')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
      form.form-inline.my-2.my-lg-0
        .col-md-6
          button.btn.btn-dark(onclick='changeStyle()' type='submit') Cambiar estilo 
        .col-md-6
          button.btn.btn-dark(type='submit') Ingresar 
  hr
  .container-fluid
    .row
      #filtrado.col-md-2
        ul.navbar-nav
          li.nav-item
            a.nav-link.js-scroll-trigger
              p.font-weight-bold
              h4 Filtrar resultados
              p
          li.nav-item
            a.nav-link.js-scroll-trigger
              p.font-weight-bold Categoria del recorrido
            select#categoria.form-control
              option Turistico
              option Para ni&ntilde;os
              option Cultural
              option Historico
              option Todos los recorridos
          hr
          li.nav-item
            a.nav-link.js-scroll-trigger
              p.font-weight-bold Tarifa
            .row
              .col-md-6
                input#tarifa_minima.form-control(type='tarifaMinima' aria-describedby='tarifaMinima' placeholder='Minima')
              .col-md-6
                input#tarifa_maxima.form-control(type='tarifaMaxima' aria-describedby='tarifaMaxima' placeholder='Maxima')
          hr
          li.nav-item
            a.nav-link.js-scroll-trigger
              p.font-weight-bold Medio de transporte
            select#movilidad.form-control
              option Bicicleta
              option Auto
              option Colectivo
              option Caminando
              option Todos los medios
          hr
          li.nav-item
            a.nav-link.js-scroll-trigger
              p.font-weight-bold Duracion
            .row
              .col-md-6
                input#duracion_minima.form-control(type='duracionMinima' placeholder='Minima')
              .col-md-6
                input#duracion_maxima.form-control(type='duracionMaxima' placeholder='Maxima')
          hr
          li.nav-item
            button.btn.btn-lg.btn-block.btn-outline-dark(onclick='encontrarChequeado()' type='button') Filtrar
          hr
      #no_filtrado.col-md-10
        .row
          .col-md-2
          .col-md-8
            h7 Nuestros recorridos m&aacute;s visitados
          .col-md-2
        hr
        .row
          .col-md-4
            .card(style='width: 18rem;')
              img#imagen_punto0.card-img-top(src='..' alt='Card image cap')
              .card-body
                h5#titulo_punto0.card-title Titulo
                p#direccion_punto0.card-text
                  | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
          .col-md-4
            .card(style='width: 18rem;')
              img#imagen_punto1.card-img-top(src='..' alt='Card image cap')
              .card-body
                h5#titulo_punto1.card-title Titulo
                p#direccion_punto1.card-text
                  | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
          .col-md-4
            .card(style='width: 18rem;')
              img#imagen_punto2.card-img-top(src='..' alt='Card image cap')
              .card-body
                h5#titulo_punto2.card-title Titulo
                p#direccion_punto2.card-text
                  | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
    hr
    #mapa.row
        #contenedor_mapa.container-fluid
          #campo.col-md-12
    .row
      #mostrador.col-md-6
      .col-md-6
    .row
      #mostrador_izquierda.col-md-3
      #mostrador_derecha.col-md-2
      .col-md-7
    hr

 script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')

 
 