extends layout

block content
 script.
     window.fbAsyncInit = function() {
      FB.init({
       appId      : '863010233882857',
       cookie     : true,
       xfbml      : true,
       version    : 'v3.0'
       });
      FB.AppEvents.logPageView();
      FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
     });
     };

     

     function statusChangeCallback(response){
     if (response.status === 'connected') {
     var uid = response.authResponse.userID;
     var accessToken = response.authResponse.accessToken;
     } else if (response.status === 'not_authorized') {
     } else { alert("no logeado"); console.log("hola");    
     }
     }

     (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
 include shared/HTMLfunctions
 .text-center
  nav#navbar_1.navbar.navbar-expand-lg.navbar-light
    a.navbar-brand(href='#')
      img(src='https://png.icons8.com/metro/1600/worldwide-location.png' width='30' height='30' alt='')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
      form.form-inline.my-2.my-lg-0
        .col-md-6
          button.btn.btn-dark(onclick='changeStyle()' type='submit') Cambiar estilo 
        .col-md-6
          button.btn.btn-dark(type='submit') Ingresar 
  hr
  .container-fluid
    .row
      #filtrado.col-md-2
        ul.navbar-nav
          li.nav-item
            a.nav-link.js-scroll-trigger
              p.font-weight-bold
              h4 Filtrar resultados
              p
          li.nav-item
            a.nav-link.js-scroll-trigger
              p.font-weight-bold Categoria del recorrido
            select#categoria.form-control
              option Turistico
              option Ninos
              option Cultural
              option Historico
              option Todos los recorridos
          hr
          li.nav-item
            a.nav-link.js-scroll-trigger
              p.font-weight-bold Tarifa
            .row
              .col-md-6
                input#tarifa_minima.form-control(type='tarifaMinima' aria-describedby='tarifaMinima' placeholder='Minima')
              .col-md-6
                input#tarifa_maxima.form-control(type='tarifaMaxima' aria-describedby='tarifaMaxima' placeholder='Maxima')
          hr
          li.nav-item
            a.nav-link.js-scroll-trigger
              p.font-weight-bold Medio de transporte
            select#movilidad.form-control
              option Bicicleta
              option Auto
              option Colectivo
              option Caminando
              option Todos los medios
          hr
          li.nav-item
            a.nav-link.js-scroll-trigger
              p.font-weight-bold Duracion
            .row
              .col-md-6
                input#duracion_minima.form-control(type='duracionMinima' placeholder='Minima')
              .col-md-6
                input#duracion_maxima.form-control(type='duracionMaxima' placeholder='Maxima')
          hr
          li.nav-item
            button.btn.btn-lg.btn-block.btn-outline-dark(onclick='encontrarChequeado()' type='button') Filtrar
          hr
      #no_filtrado.col-md-10
        .row
          .col-md-2
          .col-md-8
             #textoFiltrado.h7 Nuestros recorridos m&aacute;s visitados
          .col-md-2
        hr
        #seccionCards.row
         each recorrido in recorridos 
          +outputCard(recorrido)
         +outputCard(recorridos[2])
         +outputCard(recorridos[3])
         fb:login-button(scope='public_profile,email' onlogin='checkLoginState();')
         
    hr
    #mapa.row
        #contenedor_mapa.container-fluid
          #campo.col-md-12
    .row
      #mostrador.col-md-6
      .col-md-6
    .row
      #mostrador_izquierda.col-md-3
      #mostrador_derecha.col-md-2
      .col-md-7
    hr

 script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')

 
 