doctype html
head
  title= title
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  script(type='text/javascript' src='/javascripts/jquery-1.11.0.min.js')
  script(type='text/javascript' src='/javascripts/funcionesRecos.js')
  link(rel='shortcut icon' href='https://png.icons8.com/metro/1600/worldwide-location.png')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  
  
body
  nav#navbar_1.navbar.navbar-expand-lg.navbar-light
    a.navbar-brand(href='#')
      img(src='https://png.icons8.com/metro/1600/worldwide-location.png' width='30' height='30' alt='')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
      form.form-inline.my-2.my-lg-0
        .col-md-6
          button.btn.btn-dark(onclick='changeStyle()' type='submit') Cambiar estilo 
        .col-md-6
          button.btn.btn-dark(type='submit') Ingresar 

  .container-fluid
  #nombre_recorrido
  #tiempo_recorrido
    strong
      | Tiempo estimado del recorrido:
  #categoria_recorrido
    strong
      | Categor&iacute;a del recorrido:
  #tarifa_recorrido
    strong
      | Tarifa del recorrido:
  #descripcion_recorrido
    strong
      | Descripci&oacute;n del recorrido:
  block content