doctype html
include shared/HTMLfunctions
head
  title= title
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link#esti(rel='stylesheet' href='/stylesheets/estilo1.css')

  // Bootstrap CSS
  script(async='' defer='' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD_mVCh6mJWkCl-rmCyWITJdMHIIqr-PRE&libraries=places')
  script(type='text/javascript' src='/javascripts/jquery-1.11.0.min.js')
  script(type='text/javascript' src='/javascripts/funcionesRecos.js')
  link(rel='shortcut icon' href='https://png.icons8.com/metro/1600/worldwide-location.png')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  
  
body
  #fb-root
  script.
   (function(d, s, id) {
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) return;
   js = d.createElement(s); js.id = id;
   js.src = 'https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v3.0&appId=863010233882857&autoLogAppEvents=1';
   fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  nav#navbar_1.navbar.navbar-expand-lg.navbar-light
    a.navbar-brand(href='https://ciudadesturisticas.herokuapp.com/')
      img(src='https://png.icons8.com/metro/1600/worldwide-location.png' width='30' height='30' alt='')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon


    a.navbar-brand(href='https://ciudadesturisticas.herokuapp.com/')
      b CIUDADES TURISTICAS
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
      form.form-inline.my-2.my-lg-0
       

  .container-fluid
   #nombre_recorrido.h7
   #tiempo_recorrido.img(src='/open-iconic/svg/clock.svg')
    strong
      | Tiempo estimado del recorrido:
   #categoria_recorrido
    strong
      | Categor&iacute;a del recorrido:
   #tarifa_recorrido
    strong
      | Tarifa del recorrido:
   #descripcion_recorrido
    strong
      | Descripci&oacute;n del recorrido:
   block content

