extends layoutRecos

block content
 hr
 .row
  each punto in reco[0].puntos
   +pointCard(punto)
 .fb-comments(data-href='https://ciudadesturisticas.herokuapp.com/recorridos/'+reco[0].nombre_url, data-width='1100', data-numposts='5')

